.styled-table {
    border-collapse: separate;
    border-spacing: 50px 0;
    margin: 50px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

.date-time{
    margin-right: 0 20px;
}

.add-button {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-button:hover {
    background-color: white;
}

.delete-button {
    background-color: rgb(212, 148, 148);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: white;
    color: black;
}


.cart-list {
    list-style: none;
    margin: 0;
}

.cart-list li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #e5e7eb;
}

.cart-list img {
    border-radius: 0.375rem;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}